---
{
	"title": "Disposition de la page d’accueil - Carrefour retraite",
	"dateModified": "2026-04-24",
	"description": "Styles CSS de la page d’accueil",
	"lang": "fr",
	"altLangPage": "landing.html",
	"breadcrumbs": [
		{
			"title": "Événements de la vie",
			"link": "../../../index-fr.html"
		},
		{
			"title": "Carrefour retraite",
			"link": "../détails-fr.html"
		}
	],
	"css": "../../../src/life-events.css",
	"script": [
		{
			"src": "../../../src/life-events.js"
		}
	],
	"layout": "no-container"
}
---
<div class="retirement-hub">
	<div class="bg-right bg-norepeat" data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../../../assets/th-retirement-hub/landing/banner-right.png 992w">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7">
					<h1 property="name" id="wb-cont">Apprendre et planifier pour votre retraite</h1>
					<p class="mrgn-bttm-md">Que vous commenciez à penser à la retraite ou que vous en profitiez déjà, c’est toujours le bon moment d’explorer vos options et de planifier votre avenir financier.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="gc-featured-link" data-bg-color="#0A747D">
		<div class="container">
			<h2 class="wb-inv">Pleins feux sur</h2>
			<p>Si vous avez besoin d’aide ou de quelqu’un à qui parler, <a class="stretched-link" href="#">consultez notre page de soutien en santé mentale</a>.</p>
		</div>
	</section>
</div>
<div class="mrgn-tp-lg container retirement-hub">
	<div class="row d-md-flex">
		<div class="col-xs-12 col-md-4 d-md-flex flex-column">
			<section class="cards quiz-content bg-retirement-hub-light">
				<div class="media">
					<div class="media-body">
						<h2 class="mrgn-tp-md">Commencez ici à planifier votre retraite !</h2>
						<div class="pull-right mrgn-lft-sm mrgn-bttm-sm hidden-xs hidden-sm">
							<img class="mrgn-tp-md hidden-lg" src="../../../assets/th-retirement-hub/landing/list-clock.png" alt="" width="86">
							<img class="mrgn-tp-sm hidden-md" src="../../../assets/th-retirement-hub/landing/list-clock.png" alt="" width="100">
						</div>
						<p class="mrgn-tp-lg">Répondez à quelques questions pour obtenir votre liste de points à prendre en compte.</p>
						<p class="mrgn-tp-lg mrgn-bttm-0">Ça va vous prendre seulement quelques minutes.</p>
						<img class="center-block img-responsive mrgn-tp-lg hidden-sm hidden-md hidden-lg" src="../../../assets/th-retirement-hub/landing/list-clock.png" alt="" width="190">
					</div>
					<div class="media-right media-middle h2 hidden-xs hidden-md hidden-lg">
						<img src="../../../assets/th-retirement-hub/landing/list-clock.png" alt="" width="190">
					</div>
				</div>
				<p class="mrgn-tp-lg"><a class="btn btn-default btn-block" href="questionnaire.html">Commencez le questionnaire</a></p>
			</section>
			<section class="cards bg-retirement-hub-light flex-grow-1 mrgn-tp-lg">
				<div class="media">
					<div class="media-body">
						<h2 class="mrgn-tp-md">Estimez votre revenu de retraite</h2>
						<div class="media">
							<div class="media-body">
								<p class="mrgn-tp-md mrgn-bttm-0">Servez-vous des outils ci-dessous pour trouver des prestations et planifier votre revenu de retraite.</p>
							</div>
							<div class="media-right media-middle hidden-xs hidden-sm">
								<img class="mrgn-tp-md hidden-lg" src="../../../assets/th-retirement-hub/landing/calculator.png" alt="" width="60">
								<img class="mrgn-tp-md hidden-md" src="../../../assets/th-retirement-hub/landing/calculator.png" alt="" width="70">
							</div>
						</div>
					</div>
					<div class="media-right media-middle hidden-xs hidden-md hidden-lg">
						<img class="mrgn-tp-md" src="../../../assets/th-retirement-hub/landing/calculator.png" alt="" width="100">
					</div>
					<img class="center-block img-responsive mrgn-tp-lg hidden-sm hidden-md hidden-lg" src="../../../assets/th-retirement-hub/landing/calculator-sparkles.png" alt="">
				</div>
				<ul class="list-unstyled">
					<li class="mrgn-tp-lg"><a class="btn btn-success btn-block" href="#">Calculatrice du revenu de retraite canadienne</a></li>
					<li class="mrgn-tp-md"><a class="btn btn-success btn-block" href="#">Estimateur des prestations de la Sécurité de la vieillesse</a></li>
					<li class="mrgn-tp-md"><a class="btn btn-success btn-block" href="#">Chercheur de prestations</a></li>
				</ul>
			</section>
		</div>
		<nav class="col-xs-12 col-md-8 main-content small">
			<h2 class="wb-inv">Sujets</h2>
			<div class="row wb-eqht-grd">
				<div class="col-xs-12">
					<div class="mrgn-tp-lg hidden-md hidden-lg"></div>
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Préparez votre retraite</h3></a>
									<p>Planifiez à l'avance et réfléchissez à quand commencer vos retraites, travailler tout en percevant des pensions publiques, vivre avec un revenu limité et les options pour vivre à l'étranger.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Sources de revenus à la retraite</h3></a>
									<p>Apprenez-en davantage sur les différentes régimes de retraite publiques, les régimes de retraite d’employeur, l’épargne personnelle et les autres aides financières.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Présentez une demande et gérez vos pensions publiques</h3></a>
									<p>Demandez des pensions et des prestations publiques, gérez votre compte, consultez les renseignements de votre pension, et mettez à jour vos renseignements personnels.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Protégez-vous contre les arnaques et la fraude</h3></a>
									<p>Apprenez comment signaler une arnaque ou une fraude, comment les repérer et protéger vos renseignements personnels.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Santé et bien-être</h3></a>
									<p>Trouvez des ressources d’aide au logement et de soins à domicile pour les aînés et apprenez-en davantage sur les prestations d’invalidité du RPC et de soins dentaires.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="stories-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Histoires de retraite</h3></a>
									<p>Découvrez les différents choix qu’une personne peut faire quant au moment de recevoir ses pensions publiques.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-6 mrgn-tp-lg">
					<section class="position-relative">
						<div class="cards light-hover hght-inhrt">
							<div class="media">
								<div class="media-body">
									<a href="subpage-fr.html" class="stretched-link"><h3 class="h4 mrgn-tp-md">Communiquez avec nous</h3></a>
									<p>Si vous avez des questions ou si vous avez besoin d’aide concernant vos pensions publiques, appelez-nous, venez nous voir en personne ou soumettez un formulaire de demande en ligne.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</nav>
	</div>
	<!--<aside class="cards retirement-hub-aia bg-retirement-hub-light mrgn-tp-lg">
		<h2 class="mrgn-tp-md"><img class="mrgn-rght-md mrgn-bttm-sm" src="../../../assets/th-retirement-hub/ai-answers.png" alt="" width="40">Réponses IA</h2>
		<p class="mrgn-bttm-0">Obtenez des réponses à vos questions sur Canada.ca.</p>
		<p class="mrgn-tp-lg"><a href="https://reponses-ia.alpha.canada.ca" referrerpolicy="unsafe-url" class="btn btn-primary" data-gc-analytics-customclick="ESDC-EDSC:Réponses IA:Bannière en bas">Essayez une version bêta de Réponses IA</a></p>
	</aside>-->
</div>
