---
{
	"title": "Stories page layout - Retirement Hub",
	"dateModified": "2026-04-24",
	"description": "Stories page CSS styles",
	"lang": "en",
	"altLangPage": "stories-fr.html",
	"breadcrumbs": [
		{
			"title": "Life events",
			"link": "../../../index.html"
		},
		{
			"title": "Retirement Hub",
			"link": "../../retirement-hub.html"
		}
	],
	"css": "../../../src/life-events.css",
	"script": [
		{
			"src": "../../../src/life-events.js"
		}
	],
	"layout": "no-container"
}
---
<div class="retirement-hub">
	<div class="bg-right bg-norepeat" data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../../../assets/th-retirement-hub/subpage-banner-right.png 992w">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7">
					<h1 property="name" id="wb-cont">Retirement stories</h1>
					<p class="mrgn-bttm-md">Not sure when to start collecting benefits? Learn about the different choices people make about their public pensions and how it impacts their lives. These stories give valuable lessons and inspiration for people looking to plan their own retirement.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="gc-featured-link" data-bg-color="#0A747D">
		<div class="container">
			<h2 class="wb-inv">Spotlight on</h2>
			<p>If you need help or someone to talk to, <a class="stretched-link" href="#">visit our mental health support page</a>.</p>
		</div>
	</section>
</div>
<div class="mrgn-tp-lg container retirement-hub">
	<nav>
		<h2 class="mrgn-tp-md">Select a story</h2>
		<div class="main-content small">
			<div class="row wb-eqht-grd">
				<div class="col-xs-12 col-md-4">
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage.html" class="stretched-link">Fred's story</a></h3>
								<p>Fred decides when to start his public pensions to receive the highest amounts available to him.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="mrgn-tp-lg hidden-md hidden-lg"></div>
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage.html" class="stretched-link">Keith's story</a></h3>
								<p>Keith plans to work while receiving his CPP retirement pension.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="mrgn-tp-lg hidden-md hidden-lg"></div>
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage.html" class="stretched-link">Fatima's story</a></h3>
								<p>Fatima works while receiving the Guaranteed Income Supplement benefit.</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</nav>
</div>
