---
{
	"title": "Disposition de la page d’histoires - Carrefour retraite",
	"dateModified": "2026-04-24",
	"description": "Styles CSS de la page d’histoires",
	"lang": "en",
	"altLangPage": "stories.html",
	"breadcrumbs": [
		{
			"title": "Événements de la vie",
			"link": "../../../index-fr.html"
		},
		{
			"title": "Carrefour retraite",
			"link": "../détails-fr.html"
		}
	],
	"css": "../../../src/life-events.css",
	"script": [
		{
			"src": "../../../src/life-events.js"
		}
	],
	"layout": "no-container"
}
---
<div class="retirement-hub">
	<div class="bg-right bg-norepeat" data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../../../assets/th-retirement-hub/subpage-banner-right.png 992w">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7">
					<h1 property="name" id="wb-cont">Histoires de retraite</h1>
					<p class="mrgn-bttm-md">Vous ne savez pas quand commencer à recevoir vos prestations? Apprenez-en davantage sur les différents choix qu’une personne peut faire à propos de ses pensions publiques, et leur incidence sur sa vie. Ces histoires fournissent des leçons précieuses et inspirantes pour les personnes qui cherchent à planifier leur retraite.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="gc-featured-link" data-bg-color="#0A747D">
		<div class="container">
			<h2 class="wb-inv">Pleins feux sur</h2>
			<p>Si vous avez besoin d’aide ou de quelqu’un à qui parler, <a class="stretched-link" href="#">consultez notre page de soutien en santé mentale</a>.</p>
		</div>
	</section>
</div>
<div class="mrgn-tp-lg container retirement-hub">
	<nav>
		<h2 class="mrgn-tp-md">Sélectionnez une histoire</h2>
		<div class="main-content small">
			<div class="row wb-eqht-grd">
				<div class="col-xs-12 col-md-4">
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage-fr.html" class="stretched-link">L’histoire de Fred</a></h3>
								<p>Fred décide quand commencer ses pensions publiques afin de recevoir les montants les plus élevés auxquels il a droit.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="mrgn-tp-lg hidden-md hidden-lg"></div>
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage-fr.html" class="stretched-link">L’histoire de Keith</a></h3>
								<p>Keith compte travailler tout en recevant sa pension de retraite du RPC.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="mrgn-tp-lg hidden-md hidden-lg"></div>
					<div class="hidden-xs position-relative">
						<div class="pstn-tp-xs pstn-lft-xs full-width stories-circle-cutout"></div>
					</div>
					<section class="position-relative">
						<div class="hidden-xs full-width text-center pstn-tp-xs pstn-lft-xs">
							<img alt="" class="stories-circle" src="../../../assets/th-retirement-hub/stories/icon-person.png" width="160">
						</div>
						<div class="hght-inhrt">
							<div class="hidden-xs mrgn-tp-xl"></div>
							<div class="hidden-xs mrgn-tp-lg"></div>
							<div class="cards cards-border-top-light light-hover hght-inhrt">
								<div class="hidden-xs mrgn-tp-xl"></div>
								<div class="hidden-xs mrgn-tp-md"></div>
								<h3 class="h4 mrgn-tp-md text-sm-center"><a href="subpage-fr.html" class="stretched-link">L’histoire de Fatima</a></h3>
								<p>Fatima travaille tout en recevant le supplément de revenu garanti.</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</nav>
</div>
