---
{
	"title": "Disposition d’une sous-page - Carrefour retraite",
	"dateModified": "2026-04-24",
	"description": "Styles CSS d’une sous-page",
	"lang": "en",
	"altLangPage": "subpage.html",
	"breadcrumbs": [
		{
			"title": "Événements de la vie",
			"link": "../../../index-fr.html"
		},
		{
			"title": "Carrefour retraite",
			"link": "../détails-fr.html"
		}
	],
	"css": "../../../src/life-events.css",
	"script": [
		{
			"src": "../../../src/life-events.js"
		}
	],
	"layout": "no-container"
}
---
<div class="retirement-hub">
	<div class="bg-right bg-norepeat" data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../../../assets/th-retirement-hub/subpage-banner-right.png 992w">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7">
					<h1 property="name" id="wb-cont">Préparez votre retraite</h1>
					<p class="mrgn-bttm-md">Explorez vos options de retraite, déterminez quand commencer à recevoir vos pensions, et prenez les meilleures décisions pour vous.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="gc-featured-link" data-bg-color="#0A747D">
		<div class="container">
			<h2 class="wb-inv">Pleins feux sur</h2>
			<p>Si vous avez besoin d’aide ou de quelqu’un à qui parler, <a class="stretched-link" href="#">consultez notre page de soutien en santé mentale</a>.</p>
		</div>
	</section>
</div>
<div class="mrgn-tp-lg container retirement-hub">
	<nav>
		<h2 class="mrgn-tp-md">Sur cette page</h2>
		<ul>
			<li><a href="#h2.1">Planifiez votre retraite</a></li>
			<li><a href="#h2.2">Décidez quand commencer à recevoir vos pensions publiques</a></li>
			<li><a href="#h2.3">Travaillez tout en recevant vos pensions publiques</a></li>
			<li><a href="#h2.4">Profitez de la retraite avec un faible revenu</a></li>
			<li><a href="#h2.5">Vivre à l’extérieur du Canada pendant la retraite</a></li>
		</ul>
	</nav>
	<section>
		<h2 id="h2.1">Planifiez votre retraite</h2>
		<p>De manière générale, la plupart des gens ont besoin d’environ 60&nbsp;% à 70&nbsp;% de leur revenu actuel pour maintenir leur train de vie à la retraite.</p>
		<p>Tenez compte de votre mode de vie, de votre état de santé, de vos conditions de vie et de vos sources de revenus au moment de planifier votre retraite.</p>
		<p>Voici quelques moyens de s’y lancer&nbsp;:</p>
		<ul>
			<li><a href="#">Apprenez comment planifier et épargner pour la retraite.</a></li>
			<li>Utilisez la <a href="#">calculatrice du revenu de retraite canadienne</a> pour estimer le montant que vous pourriez avoir au moment de la retraite.</li>
			<li>Créez un budget personnalisé à l’aide du <a href="#">planificateur budgétaire de l’ACFC</a>.</li>
			<li>Utilisez l’<a href="#">aide-mémoire financier pour la retraite</a>.</li>
		</ul>
		<div class="panel panel-default mrgn-tp-lg mrgn-bttm-lg">
			<div class="panel-body">
				<p class="mrgn-bttm-0"><strong>Conseil pratique&nbsp;:</strong> La plupart des Canadiens sous-estiment leur espérance de vie, et beaucoup sont à risque d'épuiser leurs économies avant la fin de leurs jours. En moyenne, les Canadiens âgés de 65 ans aujourd'hui peuvent s'attendre à <a href="#">vivre encore au moins 20 ans</a>. Il est donc recommandé d'avoir un plan financier pour ces années de vie.</p>
			</div>
		</div>
	</section>
	<section>
		<h2 id="h2.2">Décidez quand commencer à recevoir vos pensions publiques</h2>
		<p>Les pensions publiques du Canada vous offrent une certaine flexibilité quant au moment où vous commencez à recevoir vos prestations. Le moment est important, car il détermine le montant de vos pensions pour le reste de votre vie.</p>
		<p>Si vous choisissez de reporter votre pension de la Sécurité de la vieillesse (SV), votre montant mensuel augmentera chaque mois qu’elle est reportée, et ce, jusqu’à ce que vous atteigniez l’âge de 70 ans.</p>
		<p>Envisagez de recevoir une pension <strong>anticipée</strong> de la SV si&nbsp;:</p>
		<ul>
			<li>vous êtes admissible au <a href="#">SRG</a>;</li>
			<li>vous ne pouvez pas travailler ou décidez de ne pas travailler après 65&nbsp;ans.</li>
		</ul>
		<p>Envisagez de <strong>reporter</strong> votre pension de la SV si&nbsp;:</p>
		<ul>
			<li>vous n’êtes pas admissible au SRG;</li>
			<li>vous êtes à l’aise avec votre revenu de retraite;</li>
			<li>vous prévoyez continuer de travailler pendant quelques années encore.</li>
		</ul>
		<p>L’âge habituel pour commencer à recevoir une pension du RPC est de 65 ans, mais il est possible de commencer dès l’âge de 60 ans. Vous pouvez aussi reporter le versement de votre pension pour percevoir des prestations mensuelles plus élevées.</p>

		<p>Envisagez de recevoir votre pension de retraite du RPC plus tôt si :</p>
		<ul>
		<li>vous avez un revenu faible ou pas de revenu et avez besoin d'argent dès maintenant pour subvenir à vos besoins fondamentaux</li>
		<li>vous avez peu ou pas d'épargne-retraite pour retarder le versement de votre pension</li>
		</ul>

		<p>Pour en savoir plus sur le moment de commencer à recevoir vos pensions&nbsp;:</p>
		<ul>
			<li><a href="#">Recevoir la pension de la SV</a></li>
			<li><a href="#">Recevoir la pension de retraite du RPC</a></li>
		</ul>
		<p><a href="#">Consultez les différents choix que font les gens lorsqu'ils font une demande de pension publique.</a></p>
		<div class="panel panel-default mrgn-tp-lg mrgn-bttm-lg">
			<div class="panel-body">
				<p class="mrgn-bttm-0"><strong>Conseil pratique&nbsp;:</strong> La SV et le RPC sont deux pensions différentes. Vous pouvez recevoir chacune de vos pensions du gouvernement à des moments différents. Par exemple, vous pouvez demander votre pension de la SV à 65 ans, et attendre d’avoir 70 ans avant de demander votre pension du RPC.</p>
			</div>
		</div>
	</section>
	<section>
		<h2 id="h2.3">Travaillez tout en recevant vos pensions publiques</h2>
		<p>Combiner vos revenus de travail à vos pensions publiques est une façon de gagner plus d’argent pendant la retraite.</p>
		<ul>
			<li>Il n’est pas nécessaire de cesser de travailler pour recevoir votre pension de la SV, votre SRG ou votre pension de retraite du RPC.</li>
			<li>Vous pouvez choisir de travailler même après avoir commencé à recevoir vos pensions publiques. De nombreuses personnes continuent aujourd'hui à travailler après 65 ans, voire après 70 ans, parce qu'elles ont besoin de revenus. Travailler tout en touchant le SRG pourrait augmenter votre revenu total grâce à l’<a href="#">exemption des gains du SRG</a>.</li>
			<li>Pour en savoir plus sur vos paiements de la SV et du SRG, utilisez l’<a href="#">Estimateur des prestations de la SV</a> ou visitez la <a href="#">page sur la pension de la SV</a>.</li>
		</ul>
		<p>Le fait de travailler tout en touchant des prestations du RPC peut faire augmenter votre paiement mensuel.</p>
		<ul>
			<li>Si vous avez entre 65 et 70 ans et que vous travaillez encore, vous pouvez décider de cesser de cotiser au RPC. Cependant, continuer à cotiser au régime génère des prestations post-retraite et pourrait augmenter considérablement votre revenu de retraite pour le reste de votre vie.</li>
			<li>Pour en savoir plus sur le fait de travailler après avoir commencé à recevoir votre pension du RPC, visitez la page sur la <a href="#">prestation après-retraite du RPC</a> et la page sur la <a href="#">pension de retraite du RPC</a>.</li>
			<li>Pour en savoir plus sur le fait de travailler tout en recevant la pension du RPC, lisez l’<a href="#">histoire de Keith</a>.</li>
		</ul>
	</section>
	<section>
		<h2 id="h2.4">Profitez de la retraite avec un faible revenu</h2>
		<p>Même si vous avez un faible revenu, vous pouvez planifier votre retraite en toute quiétude. Il existe des programmes et des services de soutien pour vous aider à couvrir des dépenses quotidiennes, dont celles liées au logement, à la nourriture, aux soins de santé et à d’autres besoins essentiels.</p>
		<p>Votre situation est importante. Que vous viviez seul, souteniez votre époux, ayez une invalidité ou fassiez face à des changements imprévus, vous pourriez avoir droit à plus d’aide que vous ne le pensez.  Des changements dans votre situation personnelle peuvent avoir une incidence sur vos prestations. Par exemple, si vous décidez de continuer à travailler après 65 ans, l'<a href="#">exemption de gains du SRG</a> s'applique à votre revenu d'emploi. Elle vous permet d'augmenter votre revenu tout en continuant à toucher une partie du SRG. </p>
		<p>Consultez <a href="#">l'histoire de Fatima</a> pour savoir comment augmenter votre revenu tout en continuant à toucher le SRG.</p>
		<p>Voici quelques programmes qui pourraient vous aider&nbsp;:</p>
		<ul>
			<li>Le <a href="#">Supplément de revenu garanti (SRG)</a> est une prestation mensuelle non imposable offerte aux prestataires de la SV ayant un faible revenu.</li>
			<li>L’<a href="#">Allocation du SRG</a> et l’<a href="#">Allocation au survivant</a> aident les personnes de 60 à 64 ans ayant un faible revenu qui sont l’époux ou le conjoint de fait, ou le survivant d’un prestataire de la SV.</li>
			<li>Le <a href="#">Régime canadien de soins dentaires (RCSD)</a> offre une assurance de soins dentaires aux résidents canadiens dont le revenu familial est inférieur à 90&nbsp;000&nbsp;$.</li>
		</ul>
		<p>Si vous avez de la difficulté à vous retrouver dans les prestations, vous pouvez demander de l’<a href="#">aide</a> par téléphone, en ligne ou en personne auprès de Service Canada. En savoir plus dans notre section <a href="#">santé et bien-être</a>.</p>
	</section>
	<section>
		<h2 id="h2.5">Vivre à l’extérieur du Canada pendant la retraite</h2>
		<p>Si vous prévoyez vivre à l’étranger, visitez les pages suivantes&nbsp;:</p>
		<ul>
			<li><a href="#">Vivre à l’étranger pendant que vous recevez pensions et prestations</a></li>
			<li><a href="#">Impôt sur les pensions et les prestations pour les personnes vivant à l’étranger</a></li>
		</ul>
	</section>
</div>
