---
{
	"title": "Subpage layout - Retirement Hub",
	"dateModified": "2026-04-24",
	"description": "Subpage CSS styles",
	"lang": "en",
	"altLangPage": "subpage-fr.html",
	"breadcrumbs": [
		{
			"title": "Life events",
			"link": "../../../index.html"
		},
		{
			"title": "Retirement Hub",
			"link": "../../retirement-hub.html"
		}
	],
	"css": "../../../src/life-events.css",
	"script": [
		{
			"src": "../../../src/life-events.js"
		}
	],
	"layout": "no-container"
}
---
<div class="retirement-hub">
	<div class="bg-right bg-norepeat" data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../../../assets/th-retirement-hub/subpage-banner-right.png 992w">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7">
					<h1 property="name" id="wb-cont">Prepare for retirement</h1>
					<p class="mrgn-bttm-md">Explore your retirement options, when to start collecting your pensions and decide what works for you.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="gc-featured-link" data-bg-color="#0A747D">
		<div class="container">
			<h2 class="wb-inv">Spotlight on</h2>
			<p>If you need help or someone to talk to, <a class="stretched-link" href="#">visit our mental health support page</a>.</p>
		</div>
	</section>
</div>
<div class="mrgn-tp-lg container retirement-hub">
	<nav>
		<h2 class="mrgn-tp-md">On this page</h2>
		<ul>
			<li><a href="#h2.1">Plan for your retirement</a></li>
			<li><a href="#h2.2">Decide when to start receiving your public pensions</a></li>
			<li><a href="#h2.3">Work while receiving your public pensions</a></li>
			<li><a href="#h2.4">Make retirement work with limited income</a></li>
			<li><a href="#h2.5">Living outside of Canada during retirement</a></li>
		</ul>
	</nav>
	<section>
		<h2 id="h2.1">Plan for your retirement</h2>
		<p>As a general guideline, most people need about 60-70% of their current income in retirement to maintain their standard of living.</p>
		<p>Consider your lifestyle, health, living situation, and sources of money when planning.</p>
		<p>Ways to plan ahead:</p>
		<ul>
			<li><a href="#">Learn more about planning and saving for your retirement</a></li>
			<li>Use the <a href="#">Canadian Retirement Income Calculator</a> to get an idea of how much money you might have in retirement</li>
			<li>Create a customized budget using the <a href="#">FCAC Budget planner</a></li>
			<li>Use <a href="#">Your retirement financial checklist</a></li>
		</ul>
		<div class="panel panel-default mrgn-tp-lg mrgn-bttm-lg">
			<div class="panel-body">
				<p class="mrgn-bttm-0"><strong>Smart tip:</strong> Most Canadians underestimate how long they'll live, and many are at risk of outliving their savings. On average, Canadians who are age 65 today can expect to <a href="#">live at least another 20 years</a>. It's good to have a financial plan for these years of life.</p>
			</div>
		</div>
	</section>
	<section>
		<h2 id="h2.2">Decide when to start receiving your public pensions</h2>
		<p>Canada's public pensions offer you flexibility on when to start collecting money. Timing is important because it sets your pension amount for life. </p>
		<p>If you choose to delay your Old Age Security (OAS) pension, your monthly amount will increase each month you wait, up to age 70.</p>
		<p>Consider starting your OAS pension <strong>earlier</strong> if:</p>
		<ul>
			<li>you qualify for the <a href="#">GIS</a></li>
			<li>you're unable to work or choose not to work past age 65</li>
		</ul>
		<p>Consider starting your OAS pension <strong>later</strong> if:</p>
		<ul>
			<li>you don't qualify for the GIS</li>
			<li>you feel comfortable with your income in retirement</li>
			<li>you plan to continue working for a few years</li>
		</ul>
		<p>The standard age to start the CPP retirement pension is at age 65, however you can start your CPP as early as age 60. You can also defer your pension to increase your monthly amount.</p>

		<p>Consider starting your CPP retirement pension <strong>earlier</strong> if:</p>
		<ul>
		<li>you have low or no income and need money now to help cover your basic needs</li>
		<li>you have little or no retirement savings to delay your pensions</li>
		</ul>
		<p>Consider starting your CPP retirement pension <strong>later</strong> if:</p>
		<ul>
		<li>you are in good health and expect a long, healthy retirement</li>
		<li>you can support your current lifestyle by using your retirement savings and don’t need to collect your CPP retirement pension now</li>
		</ul>

		<p>Learn more about deciding when to start:</p>
		<ul>
			<li><a href="#">Collecting OAS Pension</a></li>
			<li><a href="#">Collecting CPP Retirement Pension</a></li>
		</ul>
		<p><a href="#">Read about the different choices people make when applying for their public pensions.</a></p>
		<div class="panel panel-default mrgn-tp-lg mrgn-bttm-lg">
			<div class="panel-body">
				<p class="mrgn-bttm-0"><strong>Smart tip:</strong> OAS and CPP are two different pensions. You can claim each of your government pensions at different times. For example, you can claim your OAS pension at age 65 and wait until your turn 70 before applying for your CPP retirement pension.</p>
			</div>
		</div>
	</section>
	<section>
		<h2 id="h2.3">Work while receiving your public pensions</h2>
		<p>Combining income from work with your public pension can be a way to earn extra money during retirement.</p>
		<ul>
			<li>You don't have to stop working to collect your OAS pension, your GIS or your CPP retirement pension.</li>
			<li>You can choose to work even after you started receiving your public pensions.  Many people today continue to work past age 65 or even 70 because they need the income. Working while receiving the GIS could increase your total income thanks to the <a href="#">GIS earnings exemption</a>.</li>
			<li>Use the <a href="#">OAS Benefits Estimator</a> to find out more about your OAS and GIS payments. You can also learn more by visiting the <a href="#">OAS pension page.</a></li>
		</ul>
		<p>Working while collecting your CPP retirement pension can increase your monthly payment.</p>
		<ul>
			<li>If you are between the ages of 65 and 70 and you are still working, you can choose to stop contributing to the CPP.  However, continuing to contribute to the Plan generates Post-Retirement Benefits and could significantly raise your retirement income for the rest of your life.</li>
			<li>To learn more about working after you start collecting your CPP pension, visit <a href="#">CPP Post-Retirement Benefit (PRB)</a> and <a href="#">CPP retirement pension</a> page.</li>
			<li>To learn more about working while receiving the CPP, visit <a href="#">Keith’s story</a>.</li>
		</ul>
	</section>
	<section>
		<h2 id="h2.4">Make retirement work with limited income</h2>
		<p>Even if your income is limited, you can still plan for retirement with peace of mind. There are programs and supports to help cover everyday costs like housing, food, health care, and other essentials.</p>
		<p>Your situation matters. Whether you live alone, support a spouse, have a disability, or face unexpected changes, you may qualify for more help than you realize.
Changes in personal circumstances can affect your benefits. For example, if you decide to continue working after age 65, the <a href="#">GIS earnings exemption</a> applies to income from work. It allows you to increase your income, while still getting some GIS.</p>

		<p>Visit <a href="#">Fatima’s story</a> to learn how to increase your income and continue to receive the GIS.</p>

		<p>Here are some programs that may help:</p>
		<ul>
			<li><a href="#">Guaranteed Income Supplement (GIS)</a> provides a monthly non-taxable benefit to low-income individuals who receive OAS</li>
			<li><a href="#">GIS Allowance</a> &amp; <a href="#">Allowance for the Survivor</a> provides support for low-income individuals aged 60 to 64 who are the spouse or common law partner, or survivor of an OAS pensioner</li>
			<li><a href="#">Canadian Dental Care Plan (CDCP)</a> provides dental insurance to Canadian residents with a family income less than $90,000</li>
		</ul>
		<p>You don’t need to navigate benefits alone. There is <a href="#">support</a> available by phone, online and in-person through Service Canada. Learn more in our  <a href="#">health and wellness section</a>.</p>
	</section>
	<section>
		<h2 id="h2.5">Living outside of Canada during retirement</h2>
		<p>If you plan on living in another country, visit:</p>
		<ul>
			<li><a href="#">Living outside Canada while on pension and benefits</a></li>
			<li><a href="#">Taxes on pensions and benefits for those outside Canada</a></li>
		</ul>
	</section>
</div>
